<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false" doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="true" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="$(find suii_description)/Field/world/robocup_at_work.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <!--send robot urdf to param server -->
  <include file="$(find suii_description)/launch/suii_upload.launch">
    <arg name="limited" value="$(arg limited)"/>
  </include>

<!-- push robot_description to factory and spawn robot in gazebo -->
  <node name="spawn_gazebo_model" pkg="gazebo_ros" type="spawn_model" args="-urdf -param robot_description -model robot -x 2 -y 1 -z 0.025" respawn="false" output="screen" /> -->
  <include file="$(find suii_gazebo)/launch/controller_utils.launch"/>

  <!-- start this controller -->
  <rosparam file="$(find suii_gazebo)/controller/arm_controller_ur3.yaml" command="load"/>
  <node name="arm_controller_spawner" pkg="controller_manager" type="controller_manager" args="spawn arm_controller" respawn="false" output="screen"/>
  <!-- load other controllers -->
  <node name="ros_control_controller_manager" pkg="controller_manager" type="controller_manager" respawn="false" output="screen" args="load joint_group_position_controller" />
<!--field launch-->
  <arg name="model" default="$(find suii_description)/Field/table/urdf/table.urdf"/>
  <arg name="model2" default="$(find suii_description)/Field/rack_bin/urdf/rack_bin_red.urdf"/>
  <arg name="model3" default="$(find suii_description)/Field/rack_bin/urdf/rack_bin_blue.urdf"/>


  <param name="table" textfile="$(find suii_description)/Field/table/urdf/table.urdf" />
  <param name="rack_bin_red" textfile="$(find suii_description)/Field/rack_bin/urdf/rack_bin_red.urdf" />
  <param name="rack_bin_blue" textfile="$(find suii_description)/Field/rack_bin/urdf/rack_bin_blue.urdf" />

    <node name="urdf_spawner" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        respawn="false" 
        output="screen" 
        args="-x 4.5 -y 0.5 -urdf -model simple_model -param table"/>


    <node name="urdf_spawner_2" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        respawn="false" 
        output="screen" 
        args="-x 0.25 -y 1.65 -Y 1.57 -urdf -model simple_model2 -param rack_bin_red"/> 

    <node name="urdf_spawner_3" 
        pkg="gazebo_ros" 
        type="spawn_model" 
        respawn="false" 
        output="screen" 
        args="-x 0.25 -y 1.95 -Y 1.57 -urdf -model simple_model3 -param rack_bin_blue"/>  

  <!-- load the controllers -->
  <rosparam file="$(find suii_description)/Field/table/config/config.yaml" command="load"/>

  <node name="table_velocity" 
        pkg ="controller_manager" 
        type="spawner" 
        ns="/simple_model" 
        args="base_to_second_joint_position_controller joint_velocity_controller"/>


  
<!-- converts joint states to TF transforms -->
  <node name="table_state_publisher" 
        pkg="robot_state_publisher" 
        type="robot_state_publisher" 
        respawn="false" 
        output="screen">
      <remap from="joint_states" to="/simple_model/joint_states" />
  </node>



</launch>
